.wrapper {
    width: 100%;
    height: calc(100vh - 49px);
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
    // background-color: rgba(255, 0, 0, 0.071);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;

    div {
        color: #202020;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-top: 24px;
    }

    .subtitle {
        color: #B7B7B7;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.9px;
        letter-spacing: -0.28px;
        margin-top: 8px;
        max-width: 300px;
    }
}


.bottom {
    width: 100%;
    // max-width: 500px;
    padding: 0 16px 12px;
    box-sizing: border-box;
    margin-top: 24px;
    .button {
        height: 51px;
        width: 100%;
        border-radius: 5px;
        background-color: #54667A;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

