.wrapper {
    width: 100%;
    height: 49px;
    margin: auto;
    margin-top: 16px;
    box-sizing: border-box;
}

.wisible_part {
    position: fixed;
    bottom: 0px;

    width: 100%;
    margin: 0 auto;
    height: 49px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px -0.5px 0px 0px #0000004D;

    padding: 0 23px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;

    

    .menu_item {
        width: 75px;
        height: 49px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1px;
        color: #B7B7B7;
        stroke: #B7B7B7;

        .image {
            height: 28px;
            width: 28px;
            margin-bottom: -3px;
        }

        .title {
            text-align: center;
            font-family: "Inter";
            font-size: 10px;
            font-weight: 500;
            letter-spacing: -0.24px;
        }
    }

    .menu_item_active {
        width: 75px;
        height: 49px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1px;
        color: #202020;
        stroke: #202020;

        .image {
            height: 28px;
            width: 28px;
            margin-bottom: -3px;

        }

        .title {
            text-align: center;
            font-family: "Inter";
            font-size: 10px;
            font-weight: 500;
            letter-spacing: -0.24px;
        }
    }
}